*{
    margin: 0%;
    padding: 0%;
    list-style: none;
}

header{
    position: relative;
    width: 1000px;
    height: 120px;
    margin: 20px auto;
    background: rgb(72, 67, 77);
}

#log{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 60px;
    background: rgb(13, 14, 13);
}

.redes{
    position: absolute;
    width: 42px;
    height: 42px;
    background: rgb(13, 14, 13);
    border-radius: 100%;
}

#icono1{
    top: 42px;
    right: 20px;
}

#icono2{
    top: 42px;
    right: 70px;
}

#icono3{
    top: 42px;
    right: 120px;
}

nav{
    position: relative;
    width: 1000px;
    height: 50px;
    margin: auto;
    background: rgb(72, 67, 77);
}