<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam natus eligendi amet et perspiciatis aperiam possimus libero odio inventore culpa illum facilis exercitationem iusto, ex voluptatibus dolore error! Sed, quos?
</p>

<hr>
 <!--Encabezado-->
<header>
    <div id="log"></div>

    <div id="icono1" class="redes"></div>
    <div id="icono2" class="redes">Hola</div>
    <div id="icono3" class="redes"></div>
</header>

<!--Barra navegacion-->
<nav>
    <ul>
        <li class="botones"></li>
        <li class="botones"></li>
        <li class="botones"></li>
        <li class="botones"></li>
        <li class="botones"></li>
    </ul>
</nav>